<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="about:blank">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>Onion Monero Blockchain Explorer</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <style type="text/css">
        {{#css_styles}}{{/css_styles}}
    </style>

</head>
<body>
<div>

     <div id="tabs">

        Server time: {{server_timestamp}}  | <a href="/txpool">Transaction pool</a>
         {{#enable_pusher}}
            | <a href="/rawtx">Transaction pusher </a>
         {{/enable_pusher}}
         {{#enable_key_image_checker}}
            | <a href="/rawkeyimgs">Key images checker</a>
         {{/enable_key_image_checker}}
         {{#enable_output_key_checker}}
            | <a href="/rawoutputkeys">Output keys checker</a>
         {{/enable_output_key_checker}}
         {{#enable_autorefresh_option}}
             |
            {{#refresh}}
                <a href="/">Autorefresh is ON (10 s)</a>
            {{/refresh}}
            {{^refresh}}
               <a href="/autorefresh">Autorefresh is OFF</a>
            {{/refresh}}
         {{/enable_autorefresh_option}}
         {{#testnet_url}}
            | <a href="{{testnet_url}}">Go to testnet explorer</a>
         {{/testnet_url}}
         {{#stagenet_url}}
            | <a href="{{stagenet_url}}">Go to stagenet explorer</a>
         {{/stagenet_url}}
         {{#mainnet_url}}
            | <a href="{{mainnet_url}}">Go to mainnet explorer</a>
         {{/mainnet_url}}
         {{#testnet}}
            | This is <span style="color:#ff6b62">testnet</span> blockchain
         {{/testnet}}
         {{#stagenet}}
            | This is <span style="color:#ff6b62">stagenet</span> blockchain
         {{/stagenet}}

     </div>

</div>
